@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
    border: black 1px solid;
    background-color: inherit;
}

.card-body {
    flex: 1 1 0%;
    flex-grow: 1;
}

.card-header {
    height: 32px
}

.form-check-input {
    border: 1px solid rgba(0, 0, 0, 0.95);
    scale: 0.8;
}

.form-check-input:focus {
    border: 1px solid rgba(0, 0, 0, 0.95)
}

td {
    font-size: small;
}

.table-row {
    white-space: nowrap;
    background-color: #80cccc;
}

.fade {
    -webkit-transition-duration: .25s;
    transition-duration: .25s;
}


.form-check-input {
    background-color: #80cccc00;
}

.form-select, .form-select-sm {
    background-color: #80cccc00 !important;
}

.form-control {
    background-color: #80cccc00 !important;
}

.table {
    --bs-table-bg: #b1d7f820;
    --bs-table-accent-bg: #b1d7f800;
    --bs-table-border-color: #00000080;
}